.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #fff;
  overflow: hidden;
}
.white-block-left {
  bottom: 0;
  left: -50px;
  transform: skew(45deg);
}
.white-block-right {
  top: 0;
  right: -50px;
  transform: skew(45deg);
}

@-webkit-keyframes zoomImg {
  from {
    transform: scale(1.3);
    transition-duration: 5s;
    margin: 0 auto;
    display: block;
  }
  to {
    transform: scale(1);
    z-index: 0;
  }
}

@keyframes zoomImg {
  from {
    transform: scale(1.3);
    transition-duration: 5s;
    margin: 0 auto;
    display: block;
  }
  to {
    transform: scale(1);
    z-index: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

.header__background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 85vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: zoomImg 3s;
          animation: zoomImg 3s;
  background-attachment: scroll;
}
.header__heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  padding: 0.5em;
  color: #eec88b;
  text-transform: uppercase;
  text-align: center;
}
.header__hamburger_btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 24px;
  color: #eec88b;
  z-index: 500;
  padding: 10px;
}
.header__logo {
  position: absolute;
  top: -0.5em;
  left: -1.5em;
  width: 150px;
  filter: opacity(0.7);
}
.header .nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transform: translateX(-101%);
  transition: transform 0.3s;
  z-index: 10;
}
.header .nav-mobile--active {
  transform: translateX(0);
}
.header .nav-desktop {
  display: none;
}

@media (min-width: 375px) {
  .header__heading {
    font-size: 4rem;
  }
  .header__hamburger_btn {
    font-size: 32px;
  }
  .header__logo {
    left: -1.5em;
    width: 175px;
  }
}
@media (min-width: 414px) {
  .header__hamburger_btn {
    font-size: 36px;
  }
  .header__logo {
    left: -1.5em;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 6.2rem;
    padding: 2em;
  }
  .header__hamburger_btn {
    font-size: 48px;
  }
  .header__logo {
    top: -1.5em;
    left: -3.5em;
    width: 350px;
  }
}
@media (min-width: 1024px) {
  .header__logo {
    top: -2em;
    left: -3.5em;
    width: 400px;
  }
  .header__hamburger_btn {
    display: none;
  }
  .header .nav {
    display: flex;
    align-items: flex-end;
  }
  .header .nav-mobile {
    display: none;
  }
  .header .nav-desktop {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 24px;
  }
  .header .nav__link {
    padding: 25px;
    color: #eec88b;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 1s;
  }
  .header .nav__link:hover {
    color: #fff;
  }
}/*# sourceMappingURL=main.css.map */