@use './colors' as *;
@use './components' as *;
@use './mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

//Header
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 85vh;
	text-align: center;
	color: $pure-white;
	@include heroImages('../img/3.jpg');
	background-attachment: scroll;

	.hamburger {
		position: absolute;
		top: 1em;
		right: 1em;
		font-size: 24px;

		z-index: 500;
	}

	.nav {
		&-mobile {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: $pure-white;
			transform: translateX(-102%);
			transition: transform 0.3s;

			z-index: 10;

			&--active {
				transform: translateX(0);
			}
		}

		&-desktop {
			display: none;
		}
	}
}
