@use 'colors' as *;
@use 'components' as *;
@use 'mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

//Header
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	@include heroImages('../img/278501636_289961099983859_849017173262262485_n.jpg');

	&__block {
		position: absolute;
		right: 100px;
		width: 30%;
		height: 80%;
		background-color: black;
		border-radius: 8px;
		filter: blur(8);

		&::before {
			left: 300px;
			width: 500px;
			height: 10px;
			background-color: white;
		}
	}
}
