@use './colors' as *;
@use './components' as *;
@use './mixins' as *;
@use './animations' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

//Header
.header {
	&__background {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 85vh;
		text-align: center;
		color: $pure-white;
		@include heroImages('../img/heading-small.jpg');
		background-attachment: scroll;
	}
	&__heading {
		font-family: 'Montserrat', sans-serif;
		font-size: 2.8rem;
		font-weight: 400;
		padding: 0.5em;
		color: $main-color;
		text-transform: uppercase;
		text-align: center;
	}

	&__hamburger_btn {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		font-size: 24px;
		color: $main-color;
		z-index: 500;
		padding: 10px;
	}
	&__logo {
		position: absolute;
		top: -0.5em;
		left: -1.5em;
		width: 150px;
		filter: opacity(0.7);
	}

	.nav {
		&-mobile {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-color: $pure-white;
			transform: translateX(-101%);
			transition: transform 0.3s;
			z-index: 10;

			&--active {
				transform: translateX(0);
			}
		}

		&-desktop {
			display: none;
		}
	}
}
// section about
.about {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		position: relative;
		width: 100%;
		height: 100%;
		margin-bottom: 1em;
		border-radius: 8px;
	}
	title {
		margin-bottom: 0.5em;
	}
	&__text {
		font-size: 1.4rem;
	}
	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}
	&__card {
		margin: 1em;
		width: 45%;

		i {
			font-size: 48px;
			padding: 0.2em;
		}
		p {
			padding: 0.3em;
			font-size: 24px;
		}
	}
}

//galery
.gallery {
	position: relative;
	padding: 10em 2em;
	@include heroImages('../img/PS-Colour-Black_31R41tz.jpg');
	text-align: center;
	color: $pure-white;
	overflow: hidden;

	&__images {
		display: flex;
		justify-content: center;
		justify-items: flex-start;
		flex-flow: row wrap;
		text-align: center;

		img {
			width: 120px;
			height: 120px;
			margin: 5px;
			// width: 500px;
			// height: 500px;
			// margin: 5px;
		}
	}
}
@media (min-width: 320px) {
	.about {
		h2 {
			font-size: 32px;
		}
		&__card {
			p {
				padding: 0.2em;
				font-size: 18px;
			}
		}
	}
	.gallery {
		h2 {
			font-size: 32px;
		}
		img {
			width: 110px;
			height: 100px;
			margin: 8px;
		}
	}
}

// Media
@media (min-width: 375px) {
	.header {
		&__heading {
			font-size: 4rem;
		}
		&__hamburger_btn {
			font-size: 32px;
		}
		&__logo {
			left: -1.5em;
			width: 175px;
		}
	}
}
@media (min-width: 414px) {
	.header {
		&__hamburger_btn {
			font-size: 36px;
		}
		&__logo {
			left: -1.5em;
			width: 200px;
		}
	}
	.about {
		h2 {
			font-size: 42px;
		}
		&__card {
			p {
				padding: 0.2em;
				font-size: 18px;
			}
		}
	}
	.gallery {
		h2 {
			font-size: 42px;
		}
		img {
			width: 150px;
			height: 110px;
			margin: 5px;
		}
	}
}

@media (min-width: 576px) {
	.about {
		&__box {
			flex-direction: row;
			justify-content: space-between;

			&-text {
				width: 55%;
				&--right {
					text-align: right;
				}
			}
			&-img {
				width: 40%;
				&--right {
					order: 1;
				}
			}
		}
		&__img {
			margin-bottom: 0;
			max-height: 300px;
		}
	}
}
@media (min-width: 768px) {
	.header {
		&__heading {
			font-size: 6.2rem;
			padding: 2em;
		}
		&__hamburger_btn {
			font-size: 48px;
		}
		&__logo {
			top: -1.5em;
			left: -3.5em;
			width: 350px;
		}
	}
	.about {
		h2 {
			font-size: 48px;
		}
		&__card {
			p {
				padding: 0.2em;
				font-size: 24px;
			}
		}
	}
	.gallery {
		h2 {
			font-size: 48px;
		}
		img {
			width: 300px;
			height: 200px;
			margin: 5px;
		}
	}
}
@media (min-width: 992px) {
	.about {
		&__box {
			margin: 5em 0;

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 2.5em;
			}
		}
		&__title {
			font-size: 3rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
}
@media (min-width: 1024px) {
	.header {
		@include heroImages('../img/heading-big.jpg');
		&__logo {
			top: -2em;
			left: -3.5em;
			width: 400px;
		}
		&__hamburger_btn {
			display: none;
		}
		.nav {
			display: flex;
			align-items: flex-end;
			&-mobile {
				display: none;
			}
			&-desktop {
				position: absolute;
				top: 0.5em;
				right: 0.5em;
				font-size: 24px;
			}
			&__link {
				padding: 25px;
				color: #eec88b;
				text-decoration: none;
				text-transform: uppercase;
				transition: color 1s;

				&:hover {
					color: $pure-white;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.about {
		h2 {
			font-size: 60px;
		}
		&__card {
			p {
				padding: 0.2em;
				font-size: 32px;
			}
		}
	}
	.gallery {
		h2 {
			font-size: 60px;
		}
		img {
			width: 450px;
			height: 300px;
			margin: 5px;
		}
	}
}
